*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

.container {
    max-width: 1824px;
    width: 100%;
    margin: 0;
}

.container hr{
    margin-bottom: 8px;
    background-color: #650202;
    height: 3px;
}

.container-flex{
    display: flex;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #650202;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 100%; 
    height: auto;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
}

nav{
    background-color:#65020266;
    padding: 16px 0;
    display:none;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer{
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.carrousel img {
    width: 100%;
    height: auto;
}

.loja.container {
    width: 100%;
}

section{
    margin-top: 6px;
    padding: 35px;
}

.sobre-a-loja img{
    max-width: 450px;
    margin-right: 24px;
    border-radius: 5px;
}

.sobre-a-loja h2{
    font-size: 3.0em
}

.sobre-a-loja p{
    max-width: 100%;
    font-size: 2.0em;
}


.lista-produtos {
    display: grid;
    grid-template-columns: repeat(4, 24%); 
    column-gap: 1%; 
    row-gap: 5%;
    margin: 0 auto;
}

.lista-produtos img{
    max-width: 90%;
    border-radius: 5px;
}

.lista-produtos li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
}

.lista-produtos li button{
    padding: 4px;
    margin-top: 8px;
    background-color:#650202;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.lista-produtos li button:hover{
    background-color: #6502028c;
}

@media screen and (max-width:640px) {

    .conteudo{
        display: block;
    }

    .container{
        max-width: 100%;
    }

    .carrousel{
        display: none;
    }

    .sobre-a-loja{
        max-width: 90%;
        padding: 0;
    }

    .sobre-a-loja img{
        margin-right: 10px;;
        height: auto;
        max-height: 350px;
        float: left
    }

    .sobre-a-loja h2{
        margin-top: 0;
        font-size: 1.4em;
    }

    .sobre-a-loja p{
        font-size: 1.0em;
        overflow: hidden;
    }


    .texto-sobre p {
        font-size: 1.0em;
        margin-top: 0; 
    }


    h1 {
        font-size: 1.5em;  
    }

    h2{
        font-size: 1.0em;
    }

    .menu-hamburguer {
        display: none; 
    }

    nav {
        display: block; 
    }

    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu li {
        margin-bottom: 1px;
    }

    .menu a {
        font-size: 1.0em; 
        padding: 5px 10px; 
    }

    .lista-produtos {
        grid-template-columns: repeat(1, 1fr); 
    }

    .container h2{
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 1.4em;
    }

    .lista-produtos img{
        margin-right: 10px;;
        height: auto;
        max-height: 350px;
    }

}

@media screen and (min-width: 641px) and (max-width:1023px) {

    .conteudo{
        display: block;
    }

    .container{
        max-width: 100%;
    }

    .carrousel{
        display: none;
    }


    .sobre-a-loja{
        max-width: 90%;
        padding: 0;
    }

    .sobre-a-loja img{
        margin-right: 10px;;
        height: auto;
        max-height: 350px;
        float: left
    }

    
    .texto-sobre p {
        font-size: 1.0em;
        margin-top: 0; /* Remove a margem superior dos parágrafos */
    }


    h1 {
        font-size: 1.5em;  
    }

    h2{
        font-size: 1.0em;
    }

    .menu-hamburguer {
        display: none; 
    }

    nav {
        display: block; 
    }

    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu li {
        margin-bottom: 1px;
    }

    .menu a {
        font-size: 1.0 em; 
        padding: 5px 10px; 
    }

    .carrousel img {
        width: 100%;
        height: auto;
    }


    .lista-produtos {
        grid-template-columns: repeat(2, 49%); 
    }
}

/*falta: ajustar JS do menu-hamburguer, 
adaptar carrousel para screen >1023*/